<mat-card *ngIf="post" class="post-card">
    <div class="flex-space-between">
        <h2 class="username">{{ post.user.firstname }} {{ post.user.lastname }} ({{ post.user.username }})</h2>
        <div>
            <mat-icon *ngIf="editable && !editing" class="pointer" (click)="editPost()">edit</mat-icon>
            <mat-icon *ngIf="editable && !editing" class="pointer" (click)="deletePost()">delete</mat-icon>
            <mat-icon *ngIf="editable && editing" class="pointer" (click)="savePost()">save</mat-icon>
            <mat-icon *ngIf="editable && editing" class="pointer" (click)="cancelEditPost()">cancel</mat-icon>
        </div>
    </div>
    <small>{{ post.created | date : 'yyyy. MM. dd. HH:mm' }}</small>
    <p *ngIf="!editing">{{ post.text }}</p>
    <mat-form-field *ngIf="editing" class="full-width" appearance="fill">
        <mat-label>Edit post</mat-label>
        <textarea matInput placeholder="Write the post here" [(ngModel)]="text"></textarea>
    </mat-form-field>
    <img *ngIf="post.processedMedia && hasImage()" [src]="'/api/media/media/' + post.mediaName" class="w-100">
    <video *ngIf="post.processedMedia && hasVideo()" [src]="'/api/media/media/' + post.mediaName" class="w-100" controls controlsList="nodownload"></video>
    <p *ngIf="post.processedMedia === false">Processing: {{ processingStatus.toFixed(2) }}%
        <mat-progress-bar mode="determinate" [value]="processingStatus"></mat-progress-bar>
    </p>
    <div class="flex-align-center margin-top">
        <mat-icon class="pointer" (click)="onLike()" [color]="likeColor">thumb_up</mat-icon><span class="margin-left">{{ post.likes }} likes</span>
    </div>
</mat-card>