.post-card {
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.username {
    margin: 0;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.margin-left {
    margin-left: 0.5rem;
}

.margin-top {
    margin-top: 0.5rem;
}

.user-link {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

.file-icon {
    width: 3rem
}

.download-link {
    text-decoration: none;
    color: blue;
}
