.profile-img {
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    margin: 1rem;
    max-width: 300px;
    cursor: pointer;
}

.small-icon {
    font-size: 1rem;
}

.pointer {
    cursor: pointer;
}
