<div>
    <div *ngIf="user">
        <div class="text-center">
            <img *ngIf="!user.profilePicture" class="profile-img" src="/assets/profile_placeholder.png" (click)="onPictureClick()">
            <img *ngIf="user.profilePicture" class="profile-img" [src]="'/api/media/profilePicture/' + user.profilePicture + '.jpg'" (click)="onPictureClick()">
            <h1>{{ user?.firstname }} {{ user?.lastname }}</h1>
            <p>{{ user?.username }}</p>
            <a *ngIf="personalProfile" routerLink="/editProfile">Edit profile<mat-icon class="small-icon">edit</mat-icon></a>
            <mat-icon *ngIf="deletable" class="pointer" (click)="deleteUser()">delete</mat-icon>
        </div>
        <app-feed [userId]="user?.id" [allowPosting]="personalProfile"></app-feed>
    </div>
    <div *ngIf="!user && !userNotFound">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <div *ngIf="userNotFound">
        <h1 class="text-center">User not found!</h1>
    </div>
</div>
