<mat-card class="new-post-card">
    <form (ngSubmit)="post()">
        <mat-form-field class="new-post-full-width" appearance="fill">
            <mat-label>New post</mat-label>
            <textarea matInput placeholder="Write the post here" name="text" [(ngModel)]="text"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="margin-right">Post</button>
        <input #input hidden type="file" id="file-input" (change)="onFileSelected($event)" />
        <button mat-raised-button color="primary" type="button" (click)="input.click()">
            <mat-icon class="pointer">attach_file</mat-icon>
            Attach media
        </button>
        <p>{{ filename }}</p>
    </form>
</mat-card>