<div>
    <table *ngIf="users.length" mat-table [dataSource]="users">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">{{ user.firstname }} {{user.lastname}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">{{ user.username }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
                <mat-icon class="pointer" (click)="acceptFriend(user.id)">add_circle</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'username', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'username', 'actions']"></tr>
    </table>
    <h1 *ngIf="!users.length" class="text-center">No pending requests</h1>
</div>
